<p>
	gallery works!
</p>
<h1>{{title}}</h1>
<div class="container">
	<div id="carousel">
		<figure><img src="http://lorempixel.com/186/116/cats?1" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?2" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?3" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?4" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?5" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?6" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?7" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?8" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?9" alt=""></figure>
	</div>
</div>
<div class="container1">
	<div id="list">
		<figure><img src="http://lorempixel.com/186/116/cats?1" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?2" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?3" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?4" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?5" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?6" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?7" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?8" alt=""></figure>
		<figure><img src="http://lorempixel.com/186/116/cats?9" alt=""></figure>
	</div>
	</div>
